<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.akko.springbootinit.mapper.BasicWarehouseMapper">

    <resultMap id="BaseResultMap" type="space.akko.springbootinit.model.domain.BasicWarehouse">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="warehouseName" column="warehouseName" jdbcType="VARCHAR"/>
            <result property="warehouseAddress" column="warehouseAddress" jdbcType="VARCHAR"/>
            <result property="warehouseStatus" column="warehouseStatus" jdbcType="TINYINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,warehouseName,warehouseAddress,
        warehouseStatus,userId,createTime,
        updateTime,isDelete
    </sql>
</mapper>
