<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.akko.springbootinit.mapper.ProductsMapper">

    <resultMap id="BaseResultMap" type="space.akko.springbootinit.model.entity.Products">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="brand" column="brand" jdbcType="VARCHAR"/>
            <result property="productName" column="productName" jdbcType="VARCHAR"/>
            <result property="productDate" column="productDate" jdbcType="DATE"/>
            <result property="barCode" column="barCode" jdbcType="VARCHAR"/>
            <result property="productSpec" column="productSpec" jdbcType="VARCHAR"/>
            <result property="productUnit" column="productUnit" jdbcType="VARCHAR"/>
            <result property="unitPrice" column="unitPrice" jdbcType="DECIMAL"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,brand,productName,
        productDate,barCode,productSpec,
        productUnit,unitPrice,userId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
