<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.akko.springbootinit.mapper.ProductsPriceMapper">

    <resultMap id="BaseResultMap" type="space.akko.springbootinit.model.entity.ProductsPrice">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="productId" column="productId" jdbcType="INTEGER"/>
        <result property="price" column="price" jdbcType="DECIMAL"/>
        <result property="priceDate" column="priceDate" jdbcType="DATE"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,productId,price,
        priceDate,userId,createTime,
        updateTime,isDelete
    </sql>
</mapper>
